<mat-toolbar color="primary">
  <span>
    <ng-content></ng-content>
  </span>
  <div class="name-container" (click)="openUserProfile()">
    <div class="avatar" mat-card-avatar>
      <img *ngIf="user.profile_picture; else defaultProfile" [src]="user.profile_picture"
        class="profile-picture">
    <ng-template #defaultProfile>
      <mat-icon class="account-circle">account_circle</mat-icon>
    </ng-template>
  </div>
    <span class="title">{{user?user.first_name+' '+user.last_name:''}}</span>
  </div>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button disabled="true" mat-menu-item>
      <span>Search</span>
    </button>
    <button disabled="true" mat-menu-item>
      <span>Clear Chat</span>
    </button>
  </mat-menu>
</mat-toolbar>