<mat-toolbar color="primary">
  <span>
    <ng-content></ng-content>
  </span>
  <div class="name-container" (click)="openUserProfile()">
    <button mat-icon-button aria-label="Profile">
      <mat-icon>account_circle</mat-icon>
    </button>
    <span class="title">{{user?user.first_name+' '+user.last_name:''}}</span>
  </div>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <span>Search</span>
    </button>
    <button mat-menu-item>
      <span>Clear Chat</span>
    </button>
  </mat-menu>
</mat-toolbar>