<div *ngIf="friend; else defaultChat" class="chat-main-container">
  <app-chat-header class="chat-header" [user]="friend">
    <ng-content></ng-content>
  </app-chat-header>
  <div class="chat-container">
    <div #chatMessages *ngIf="messages?.length>0; else start_message " class="chat-messages">
      <div *ngFor="let message of messages | searchFilter:searchText"
        [ngClass]="{'me': message.senderId === currentUser, 'user': message.senderId !== currentUser}"
        class="chat-message">
        <pre >{{ message.message }}</pre>
        <div class="timestamp">
          <span>
            {{ message.timestamp | timeAgo }}
          </span>
        </div>
      </div>
    </div>
    <ng-template #start_message>
      <div class="chat-messages say-hi">
        <span (click)="sendHiiMessage()">Start by saying "Hii"</span>
      </div>
    </ng-template>
    <div class="chat-input-container">
      <mat-form-field class="chat-input" appearance="outline">
        <mat-icon matPrefix (click)="toggleEmojiPicker()">sentiment_satisfied_alt</mat-icon>
        <textarea placeholder="Message" class="message-input-box" matInput cdkTextareaAutosize [(ngModel)]="newMessage"
          #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5">
        </textarea>
        <button [disabled]="newMessage.length<1" mat-icon-button matSuffix (click)="sendMessage()">
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
</div>
<ng-template #defaultChat>
  <div *ngIf="!showSpinner">
    <app-default-chat></app-default-chat>
  </div>
</ng-template>

<div *ngIf="showSpinner" style="display: flex; width: 100%; height: 100vh; align-items: center; justify-content: center;">
  <mat-spinner style="opacity: 60%;"></mat-spinner>
</div>