.app-header{
    position: sticky;
    top: 0;
    z-index: 10;
}

.user-list {
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: 100vh;
    overflow-y: auto;
  }
  
  .user-card {
    width: 100%;
    // max-width: 400px;
    margin: 0 auto;
  }
  
  .mat-card-title {
    font-size: calc(1rem + 0.5vw); /* Responsive font size */
  }

  .user-card{
    background-color: #FFFFFF;
  }

  .hello{
    height: 99vh;
    overflow: hidden;
  }
  
  .container{
    margin: 0px;
    padding: 0px;
    min-width: 100%;
  }

  .row>*{
    padding: 2px;
    // margin: 2px;
  }

  .row{
    margin: 2px;
  }

  @media (min-width: 768px) {
    .d-md-none {
      display: none;
    }
  }
  
  .avatar{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .user-name{
    font-weight: 500;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 18px;
  }

  .profile-picture{
    width: 100%;
    border-radius: 50%;
  }