<div class="container">
  <div class="row">
    <div class="col-md-4" *ngIf="isUserListVisible || isDesktopView">
      <div class="hello">
        <app-header *ngIf="showHeader" class="app-header"></app-header>
        <div class="user-list">
          <ng-container *ngFor="let user of users">
            <mat-card *ngIf="user.user_id != currentUserId" class="user-card" (click)="goToChat(user.user_id)">
              <mat-card-header>
                <div class="avatar" mat-card-avatar>
                    <img *ngIf="user.profile_picture; else defaultProfile" [src]="user.profile_picture"
                      class="profile-picture">
                  <ng-template #defaultProfile>
                      <mat-icon class="default-profile-picture">person</mat-icon>
                  </ng-template>
                </div>
                <div class="user-name">{{ user.first_name }} {{user.first_name}}</div>
              </mat-card-header>
            </mat-card>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-md-8" *ngIf="!isUserListVisible || isDesktopView" style="overflow-y: auto;">
      <div>
        <app-chat [friendId]="friendId">
          <span *ngIf="!isDesktopView" (click)="toggleView()">
            <mat-icon style="font-size: 34px;">arrow_left</mat-icon>
          </span>
        </app-chat>
      </div>
    </div>
  </div>
</div>